
<div class="about">
    <div class="head">
        <h1>Who we are?</h1>
    </div>
    <div class="content">
         <p>
            Since we introduced our signature Blue Box dinner in 1937, Kraft Macaroni & Cheese has aimed to bring you comfort and smiles, one bowl at a time. And when you have a bowl full of pasta and delicious, buttery sweet cheese, the joy is easy to find.

            The classic blue box of Kraft Macaroni & Cheese has been a part of people’s lives for over 75 years. Whether it was the first meal you learned to cook, or a comforting favorite that reminds you of home, Kraft Macaroni & Cheese will make any meal something to smile about.
         </p>
    </div>
</div>