
<div class="head">
  <app-slideshow></app-slideshow>
    <ul class="menue">
        <li class="menue-list"><a routerLink='/recipes' routerLinkActive="active"  > Recipes </a></li>
        <li class="menue-list"><a routerLink='/product' routerLinkActive="active" > Products </a></li>
        <li class="menue-list"><a routerLink='/contactus' routerLinkActive="active" > Contact Us</a></li>
        <li class="menue-list"><a routerLink='/about' routerLinkActive="active" > About </a></li>
        <li class="menue-list"><a routerLink='/signin' routerLinkActive="active" > Signin </a></li>
    </ul>
    <app-logo></app-logo>
    <input type="search" name="" id="search">
    <div class="search-icon">
        <i class="fas fa-search"></i>
      </div>
       
      <!-- <app-box-news></app-box-news> -->
    
</div>
