


<div class="header">
      <ul class="menue">
          <li class="menue-list"><a routerLink='/recipes' routerLinkActive="active"  > Recipes </a></li>
          <li class="menue-list"><a routerLink='/product' routerLinkActive="active" > Products </a></li>
          <li class="menue-list"><a routerLink='/contactus' routerLinkActive="active" > Contact Us</a></li>
          <li class="menue-list"><a routerLink='/about' routerLinkActive="active" > About </a></li>
          <li class="menue-list"><a routerLink='/login' routerLinkActive="active" > Login </a></li>
      </ul>

      <div class="logo">
            <a [routerLink]="['/']" >
                <img src="../../../assets/Foodlogo.svg.png" alt=""></a>  
      </div>

      <input type="search" name="" id="search">
      <div class="search-icon">
          <i class="fas fa-search"></i>
        </div>
  </div>